<div class="radio-option-container<%= control.vertical ? ' radio-option-container--vertical' : null %>">
  <div class="forge-typography--label"><%= control.label %></div>
  <div role="radiogroup" aria-label="<%= control.label %>" id="<%= control.id %>">
  <% control.radios.forEach(({ label, value, id, defaultValue }) => { %>
    <div>
      <forge-radio id="<%= id %>" name="<%= control.id %>" value="<%= value %>" <%= defaultValue ? 'checked' : null %>>
        <label for="<%= id %>"><%= label %></label>
      </forge-radio>
    </div>
  <% }); %>
  </div>
</div>
