<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./src/partials/head.ejs', { title: page.title }) %>
    
    <!-- Used for testing global configuration -->
    <!--
    <script>
      window.TylerForgeGlobalConfiguration = {
        'forge-field': {
          'labelPosition': 'block-start'
        }
      };
    </script>
    -->
  </head>
  <body>
    <forge-scaffold>
      <!-- Header -->
      <%- include('./src/partials/header.ejs', { title: page.title }); %>
      
      <!-- Content -->
      <main slot="body" class="content">
        <forge-card class="card<%= !page.options?.length ? ' card--centered' : undefined %>">
          <!-- Card header-->
          <forge-toolbar>
            <h2 slot="start" id="content-title" class="forge-typography--heading4"><%= page.contentTitle ?? page.title %></h2>
          </forge-toolbar>

          <!-- Card content -->
          <div class="container" id="demo-content">
            <!-- Dynamic page include -->
            <%- include(page.includePath, page.includeData); %>
          </div>
        </forge-card>
      </main>

      <!-- Options drawer -->
      <% if (page.options?.length) { %>
        <%- include('./src/partials/options-drawer.ejs', { controls: page.options }); %>
      <% } %>
    </forge-scaffold>
    <!-- <span id="ai-assistant">
      <script type="text/javascript">window.appUrl="http://localhost:3001"</script>
      <script type="text/javascript">window.agentId="agent-9b3ff935-f32d-477b-ac45-ce2a3570b90c"</script>
      <script type="text/javascript">window.chatViewType="modal"</script>
      <script defer src="http://localhost:3001/api/embed/embed.js" data-embed-script></script>
    </span> -->

    <!-- <span id="ai-assistant">
      <script type="text/javascript">window.appUrl="https://foundry.tylertechai.com"</script>
      <script type="text/javascript">window.agentId="agent-3ff75a06-5aa8-45a3-8499-69f0533c7d43"</script>
      <script type="text/javascript">window.chatViewType="modal"</script>
      <script defer src="http://localhost:3001/api/embed/embed.js" data-embed-script></script>
    </span> -->

     <!-- <span id="ai-assistant">
      <script type="text/javascript">window.appUrl="https://foundry.tylertechai.com"</script>
      <script type="text/javascript">window.agentId="agent-3ff75a06-5aa8-45a3-8499-69f0533c7d43"</script>
      <script type="text/javascript">window.chatViewType="modal"</script>
      <script defer src="https://foundry.tylertechai.com/api/embed/embed.js" data-embed-script></script>
    </span> -->
  </body>
</html>
