<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./src/partials/head.ejs', { title: page.title }) %>
  </head>
  <body class="forge-typography">
    <forge-scaffold>
      <!-- Header -->
      <%- include('./src/partials/header.ejs', { title: page.title }); %>
      
      <!-- Content -->
      <main slot="body" class="content">
        <forge-card class="card<%= !page.options?.length ? ' card--centered' : undefined %>">
          <!-- Card header-->
          <forge-toolbar>
            <h2 slot="start" id="content-title" class="forge-typography--headline5"><%= page.contentTitle ?? page.title %></h2>
          </forge-toolbar>

          <!-- Card content -->
          <div class="container" id="demo-content">
            <!-- Dynamic page include -->
            <%- include(page.includePath, page.includeData); %>
          </div>
        </forge-card>
      </main>

      <!-- Options drawer -->
      <% if (page.options?.length) { %>
        <%- include('./src/partials/options-drawer.ejs', { controls: page.options }); %>
      <% } %>
    </forge-scaffold>
  </body>
</html>
