<div class="vert">
  <div>
    <%- include('./drawer-permanent.ejs') %>
  </div>
  <div>
    <%- include('./drawer-dismissible.ejs') %>
  </div>
  <div>
    <%- include('./drawer-dismissible-right.ejs') %>
  </div>
  <div>
    <%- include('./drawer-modal.ejs') %>
  </div>
  <div>
    <%- include('./drawer-mini.ejs') %>
  </div>
  <div>
    <%- include('./drawer-mini-hover.ejs') %>
  </div>
  <div>
    <%- include('./drawer-mini-hover-right.ejs') %>
  </div>
</div>

<script type="module" src="drawer.ts"></script>
